/* ==== Phần Popup Setting ==== */
:root {
  --bg_Gunmetal: #232529;
  --Aquamarine: #24c48e;
  --White_with: #ffffffd9;
  --Very_Light: #ffffff1a;

  --green_1: #24c48e;
  --while: #ffffff;
  --Dark-Green: #136c56;
  --green-l: #a4cec0;
  --gray: #32323c;

  --smooth: ease-in-out 0.5s;

  --dim1: -13px;
  --dim2: -35px;

  --dim3: 13px;
  --dim4: 50%;

  /* --font_1: ;
  --font_2:;
  --font_3:; */
  --color-black-09: #ffffffd9;
  --color-neutral-solid-9: #ddddde;
  --color-additional-1-9: #c6d0f0;
  --color-additional-2-9: #aae8fd;
  --color-additional-3-9: #aacdf2;
  --color-additional-4-9: #b5b5b7;
  --color-white-7: #03030a0f;
  --color-black-08: #ffffff1a;
  --color-neutral-solid-8: #b0b0b2;
  --color-additional-1-8: #aab9e9;
  --color-additional-2-8: #80ddfc;
  --color-additional-3-8: #80b5ec;
  --color-additional-1-6: #718ada;
  --color-additional-2-6: #2bc6fa;
  --color-additional-3-6: #2b83df;
  --color-additional-4-6: #46474b;
  --color-white-4: #03030a40;
  --color-black-05: #ffffff40;
  --color-neutral-solid-5: #565659;
  --color-additional-1-5: #5572d3;
  --color-additional-2-5: #01bbf9;
  --color-additional-2-4: #0196c7;
  --color-primary-1: #dbf5ec;
  --color-primary-2: #b6ebd9;
  --color-primary-3: #92e2c7;
  --color-primary-4: #6dd8b4;
  --color-primary-5: #49cea1;
  --color-primary-6: #24c48e;
  --color-primary-7: #1d9d72;
  --color-primary: #24c48e;
  --color-text-primary-main: #24c48e;
  --color-primary-06: #24c48e;
  --color-brand-primary: #24c48e;
  --color-brand-primary-1: #dbf5ec;
  --color-brand-primary-2: #b6ebd9;
  --color-brand-primary-3: #92e2c7;
  --color-brand-primary-4: #6dd8b4;
  --color-brand-primary-5: #49cea1;
  --color-brand-primary-6: #24c48e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1e1e1e;
}

.modal {
  width: 700px;
  height: 400px; /* Chiều cao cố định của hộp cài đặt */
  background-color: #444;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
  color: #fff;
  position: relative;
  overflow: hidden; /* Ẩn các phần nội dung tràn ra ngoài */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.modal-header h2 {
  font-size: 24px;
}

.close-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.modal-body {
  display: flex;
  margin-top: 20px;
  height: calc(100% - 90px); /* Chiều cao của phần thân modal */
  overflow-y: auto; /* Kích hoạt cuộn chuột dọc */
}

.sidebar {
  width: 30%;
  height: 100%; /* Đặt chiều cao đầy đủ cho sidebar */
  position: sticky; /* Sticky giúp cố định sidebar khi cuộn */
  top: 0; /* Bắt đầu cố định từ đỉnh */
  overflow-y: auto; /* Kích hoạt cuộn nếu có quá nhiều mục */
}
.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li i {
  margin-right: 10px;
}

.sidebar ul li.active {
  background-color: var(--Aquamarine);
  border-radius: 5px;
  color: black;
}

.content {
  width: 70%;
  padding-left: 20px;
  overflow-y: auto; /* Kích hoạt cuộn cho nội dung chính */
  height: 100%; /* Đảm bảo nội dung chiếm toàn bộ chiều cao còn lại */
}

.section_theme h3 {
  margin-bottom: 2px;
}

.Box_set_theme {
  margin: 8px;
  padding: 8px 8px 0px 0px;
  border: 1.5px solid var(--White_with);
  border-radius: 10px;
}
.Box_set_theme .dropdown {
  margin-bottom: 10px;
  display: flex;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#theme-icon {
  margin-right: 10px;
  font-size: 20px;
}
.label-left {
  margin: 0;
  padding-left: 15px;
}

.toggle-right {
  margin-left: auto;
}

.Box_set_theme .dropdown label {
  display: block;
  margin-bottom: 10px;
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

/* CSS cho các nút bật tắt */
.dropdown .theme,
.dropdown .st_navbar,
.dropdown .theme_control {
  position: relative;
  display: flex;
  width: 50px;
  height: 25px;
  appearance: none;
  background-color: var(--color-neutral-solid-8);
  border-radius: 20px;
}

.dropdown .theme::before,
.dropdown .st_navbar::before,
.dropdown .theme_control::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 2.2px;
  left: 2.5px;
  background-color: var(--bg_Gunmetal);
  border-radius: 50%;
  transition: 0.25s cubic-bezier(0.25, -0.59, 0.82, 1.66);
}

.dropdown .theme:checked,
.dropdown .st_navbar:checked,
.dropdown .theme_control:checked {
  background-color: var(--Aquamarine);
}

.dropdown .theme:checked::before,
.dropdown .st_navbar:checked::before,
.dropdown .theme_control:checked::before {
  left: 26px;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

/* Phần thiết bị thực thi */
.section_device h3 {
  margin-top: 8px;
}

.custom-select {
  position: relative;
  display: flex;
  border: 1px solid var(--while);
  border-radius: 8px;
  margin: 6px;
  justify-content: space-between;
}

.custom-select i {
  margin-top: 9px;
  margin-right: 13px;
}
.select-items div,
.select-selected {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.select-selected {
  background-color: rgb(203, 119, 119, 0);
}

.select-items {
  position: absolute;
  background-color: var(--color-neutral-solid-5);
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  top: 110%;
  z-index: 99;
  display: none;
}

.select-items div:hover {
  background-color: var(--Aquamarine);
  color: rgb(6, 6, 6);
}

/* Ẩn phần thiết lập bước di chuyển trong cài đặt khi đang ở giao diện lớn  */
.Adjust_moves {
  display: none;
}

/* Set Step Tab Styles */
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.Box_set_step {
  /* background-color: #136c56; */
  margin: 8px;
  padding: 8px 8px 0px 8px;
  border: 1.5px solid var(--White_with);
  border-radius: 10px;
}
.input-group label {
  font-size: 14px;
}

.input-group input {
  width: 120px;
  text-align: center;
  border: 1px solid #555;
  background-color: #666;
  color: white;
  border-radius: 8px;
  padding: 5px;
}

.content-section .input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--White_with);
  border-radius: 20px;
}

.content-section .input-wrapper input[type="number"] {
  width: 70px;
  text-align: center;
  border: none; /* Ẩn viền */
  background: none; /* Ẩn nền */
  font-size: 14px;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Ẩn các nút tăng giảm trên trình duyệt Webkit (Chrome, Safari) */
.input-wrapper input[type="number"]::-webkit-outer-spin-button,
.input-wrapper input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper button {
  background-color: rgba(155, 98, 98, 0);
  color: var(--while);
  border: none;
  padding: 3px 3px;
  font-size: 15px;
  margin: -10px 6px;
}

.input-wrapper button:hover {
  color: var(--Aquamarine);
}

/* nút bật tắt động cơ car */

.switch_1_st,
.switch_2_st {
  position: relative;
  display: flex;
  width: 50px;
  height: 25px;
  appearance: none;
  background-color: var(--color-neutral-solid-8);
  border-radius: 20px;
}
.switch_1_st::before,
.switch_2_st::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 2.2px;
  left: 2.5px;
  background-color: var(--bg_Gunmetal);
  border-radius: 50%;
  transition: 0.25s cubic-bezier(0.25, -0.59, 0.82, 1.66);
}
.switch_1_st:checked,
.switch_2_st:checked {
  background-color: var(--Aquamarine);
}
.switch_1_st:checked:before,
.switch_2_st:checked:before {
  left: 26px;
}

.Set_box_control_2,
.Set_box_control_4 {
  margin-top: 28px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--White_with);
}

.content-section h3 {
  font-size: 17px;
}
/*                   phần seting gohome                         */

/* SCALE */
/* --------------------------------------------==== Scale phù hợp với màn hình ngang điện thoại  ====------------------------------------------------------------ */
@media (max-width: 1000px) {
  .modal {
    width: 500px;
    height: 280px;
    transform: translateX(5%);
  }
  .modal-header {
    display: flex;
    padding-top: -50px;
    border-bottom: 1px solid #fff;
  }

  .modal-header h2 {
    font-size: 20px;
  }

  .close-btn {
    font-size: 24px;
    margin-top: -20px;
    margin-right: -120px;
  }

  .modal-body {
    margin-top: 15px;
    height: calc(100% - 60px); /* Chiều cao của phần thân modal */
  }

  .sidebar {
    width: 26%;
  }

  .sidebar ul li {
    font-size: 14px;
  }

  .sidebar ul li i {
    margin-right: 10px;
  }

  .Box_set_theme {
    margin: 8px;
    padding: 8px 8px 0px 0px;
    border: 1.5px solid var(--White_with);
    border-radius: 10px;
  }

  .dropdown {
    margin-bottom: 10px;
    display: flex;
  }

  #theme-icon {
    margin-right: 10px;
    font-size: 15px;
  }
  .label-left {
    margin: 0;
    padding-left: 15px;
  }
  .section_theme h3 {
    margin-bottom: -2px;
    font-size: 14px;
  }
  .Box_set_theme .dropdown label {
    display: block;
    margin: 0px;
    font-size: 13px;
  }

  /* CSS cho các nút bật tắt */
  .dropdown .theme,
  .dropdown .st_navbar,
  .dropdown .theme_control {
    position: relative;
    display: flex;
    width: 30px;
    height: 15px;
    appearance: none;
    background-color: var(--color-neutral-solid-8);
    border-radius: 20px;
  }

  .dropdown .theme::before,
  .dropdown .st_navbar::before,
  .dropdown .theme_control::before {
    width: 13px;
    height: 13px;
    top: 0.8px;
    left: 1.8px;
  }

  .dropdown .theme:checked::before,
  .dropdown .st_navbar:checked::before,
  .dropdown .theme_control:checked::before {
    left: 15px;
  }

  .content-section {
    display: none;
  }

  .content-section.active {
    display: block;
  }

  /* Phần thiết bị thực thi */
  .section_device h3 {
    font-size: 14px;
    margin-top: 8px;
  }

  .custom-select {
    border-radius: 8px;
    margin: 6px;
  }

  .custom-select i {
    font-size: 12px;
    margin-top: 9px;
    margin-right: 13px;
  }
  .select-items div,
  .select-selected {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
  }

  .select-selected {
    background-color: rgb(203, 119, 119, 0);
  }

  .select-items {
    position: absolute;
    background-color: var(--color-neutral-solid-5);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    top: 110%;
    z-index: 99;
    display: none;
  }

  .select-items div:hover {
    background-color: var(--Aquamarine);
    color: rgb(6, 6, 6);
  }

  /* Phần hiển thị riêng chỉnh bước di chuyển khi nhấn nút cho màn hình nhỏ  */
  .Adjust_moves {
    display: block;
    overflow: hidden;
  }

  .Adjust_moves h3 {
    font-size: 13px;
    margin-top: 5px;
  }

  .Adjust_move {
    display: flex;
    position: relative;
    border: 1px solid var(--while);
    height: 140px;
    border-radius: 8px;
    margin: 6px;
    /* justify-content: space-between; */
    gap: 50px;
  }

  .moving_column_1,
  .moving_column_2 {
    display: flex;
    flex-direction: column;
  }

  .Adjust_move i {
    align-items: center;
    justify-content: center;
  }

  .Row_seting_move_1,
  .Row_seting_move_2 {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .arrows {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }

  .arrow_move {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 13px;
    border: 2px solid #000000;
    transform: rotate(45deg);
  }

  .arrows1 {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid #000000;
    width: 75px;
    height: 25px;
  }

  .arrows i {
    position: absolute;
    font-size: 18px;
  }

  .arrows1 i {
    position: absolute;
    font-size: 18px;
  }

  .arrows .fa-circle-chevron-up {
    top: -2%;
    left: 22px;
    transform: translate(50%, 50%);
  }
  .arrows .fa-circle-chevron-down {
    bottom: 20%;
    right: 22px;
    transform: translate(-50%, 50%);
  }
  .arrows .fa-circle-chevron-right {
    right: 16px;
    top: 50%;
    transform: translate(50%, -50%);
  }
  .arrows .fa-circle-chevron-left {
    left: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .arrows1 .fa-circle-chevron-right {
    right: 13px;
    top: 50%;
    transform: translate(50%, -50%);
  }
  .arrows1 .fa-circle-chevron-left {
    left: 13px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .Adjust_moves input {
    width: 50px;
    text-align: center;
    margin-top: 10px;
  }

  .Adjust_moves label {
    color: white;
    font-size: 14px;
    margin-top: 5px;
  }

  .arrows button,
  .arrows1 button {
    border: none;
    background-color: #ffffff00;
  }

  .position-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
